@charset "utf-8";
/* CSS Document */

a,a:hover{text-decoration:none;}
body,header,img,div,ul,ol,li,a,p,h3,span{
	margin:0px;
	padding:0px;
}
body{font-size:12px;}

/*header*/

header img{ 
	padding-left:120px; 
	padding-top:25px;
	padding-bottom:25px;
}

/*nav*/
*{margin:0px; padding:0px;}
#nav1{
	background-color:#eee; 
	width:100%; 
	height:50px; 
	border-bottom:3px solid #039;
}
#nav1> ul{
	list-style:none; 
	width:85%; 
	margin:0 auto;
}
#nav1 ul li{
	float:left; 
	width:12%; 
	line-height:50px; 
	text-align:center; 
	position:relative;
}
#nav1 a{ 
	color:#000; 
	display:block; 
	font-size:14px;
}
#nav1 ul li ul{ 
	position:absolute; 
	left:0px; top:50px; 
	display:none; 
	z-index:9999;
	background-color:white;
}
#nav1 ul li ul li{
	float:none; 
	line-height:40px;
}
#nav1 a:hover{
	background-color:#039; 
	color:#FFF; 
	text-decoration:none;
}
#nav1 ul li:hover ul{display:block; border:1px solid #eee;}
#nav1 ul li ul li a{ width:140px;}

/*here*/
#nav1 ul li a.here:link,#nav1 ul li  a.here:visited,#nav1 ul li a.here:hover,#nav1 ul li  a.here:active{
	background-color:#039; 
	color:#FFF;
}


/*footer*/
footer,ul,li,a{
	margin:0px; 
	padding:0px;
}
footer{ 
	width:100%; 
	background-color:#3a3a3a; 
	padding-left:10%; 
	padding-top:20px; 
	padding-bottom:20px; 
	text-align:center; 
	margin-top:18px; 
	overflow:hidden;
}
footer >ul >li{
	float:left; 
	width:25%; 
	line-height:26px;
	font-size:13px; 
	font-weight:bold; 
} 
footer ul li ul li{ 
	font-weight:normal; 
}
footer ul{ 
	overflow:hidden;
}
footer ul li a{
	color:#FFF;
}
footer ul li ul li a{
	color:#CCC;
}
footer p{
	color:#FFF;
}

.wx, footer > ul{
	float:left;
}
footer > ul{
	width:64%; 
}
.wx{
	width:20%; 
	margin:0 auto;
}
.wx div{
	margin-top:15px; 
	margin-bottom:15px;
}
.wx span{
	font-size:20px;
	font-weight:bold;
}

