@charset "utf-8";
/* CSS Document */

.main{ width:84%; margin:0 auto;}
#jianjie img, #jishu img{ width:100%;}
.title{ display:block; border-bottom:3px #eee solid; color:#999; padding-bottom:5px; margin-bottom:10px; }
.title span{ border-bottom:3px #069 solid; color:#000;padding-bottom:5px; margin-right:10px; font-size:22px; }
#jianjie p, #jishu p{line-height:22px; margin-top:5px;}
.zuhe a,.zuhe1 a{display:block;border-bottom:1px #eee dashed; color:#000; line-height:40px;}
.zuhe a span{ font-size:14px; color:#C00; float:right;}
.zuhe1 a span{float:right;}
.more{ position:absolute; top:10px;right:15px; border:1px solid #eee; font-size:10px; border-radius:5px; padding:2px; color:#999;}
.zuhe1{ position:absolute; top:40px; right:0px;}
#jishu p span{ color:#C00;}
.link a{ display:block; line-height:40px; color:#000;}
.link + a{ display:block; background-color:#CCC;color:#000; line-height:40px; font-size:18px; text-align:center;}
#youqing img{margin:10px;}
.row{margin-top:40px;}

/*轮播图样式*/
#myCarousel{width:45%;}
.zuhe1{width:51%;}
#pro{padding:0px; margin-top:-30px;}
li{ list-style:none;}

/*其他页样式*/
.tupian img{width:85%; }
.tupian{text-align:center; margin-bottom:30px;}

.neirong{width:82%; margin:0 auto; overflow:hidden;}
.nr_left{width:20%; float:left;text-align:center; }
.nr_left h3,.nr_left ul li{border:1px #CCCCCC solid; margin:0px;}
.nr_left ul li{ border-top:hidden; line-height:40px;background-color: #F6F6F6;}
.nr_left ul li a{ font-size:16px;}
.nr_left h3{line-height:45px; background-color:#005197; color:#FFF; border:1px #005197 solid; }
.nr_right{width:80%;float:right;}
.nr_right>img{ width:95%; margin-left:30px;}
.nr_right h4{margin-left:30px; border-bottom:#005197 1px solid; color:#005197; padding-bottom:16px;}
.nr_right > p{ margin-left:30px; line-height:30px; text-indent:2em;}
.nr_right a{margin-left:30px; font-size:16px; font-weight:bold;color: #666; line-height:40px;}
.nr_right a:hover{color:#C00;}
.nr_right span{ float:right; margin-right:0px; margin-top:5px;}
.jiaodai img{ width:50%; margin-left:30px; border:1px #CCCCCC solid; padding:3px;}
.jiaodai1{float:right; width:44%;}
.jiaodai1 h3{border-bottom:1px solid #CCC; margin-bottom:0; padding-bottom:15px;}
.jiaodai1 p{border:1px solid #CCC; border-top:none; margin:0; padding:8px;}
.jiaodai{margin-bottom:20px; }

.pagination{ margin-left:38%;}





	
